<ul>
  <% current_user.course_status.chapter_statuses.each do |chapter_status| %>
    <li>
      <%= chapter_status.title %>
      <%= chapter_status.completed? %>
    </li>
  <% end %>

  <% chapters.each do |chapter| %>
    <li>
      <% if policy(chapter).show? %>
        <h2><%= chapter.title %></h2>
      <% else %>
        <h2>
          <%= chapter.title %>
          <small class="badge badge-primary" style="font-size: 0.875rem">Premium</small>
        </h2>
      <% end %>
      <%= render "course/sections/menu", sections: chapter.sections %>
    </li>
  <% end %>
</ul>
