<h2 class="h3">General Performance</h2>
<hr>
<h3 class="h4">Skills performance <br><small class="h6">Based on your quiz answers</small></h3>
<div data-controller="charts" data-params="<%= performance.tags.chart.to_json %>"></div>

<p>
  <%= render object: performance.tags.max, partial: "course/tags/performances/best" %>
  <br><br>
  <%= render object: performance.tags.min, partial: "course/tags/performances/worst" %>
</p>

<% performance.missing_tags_count.tap do |tag_count| %>
  <% if tag_count.positive? %>
    <p>
      There <%= tag_count.eql?(1) ? "is" : "are" %> still
      <strong><%= pluralize(tag_count, "tag") %> you haven't found in our quizzes</strong>.
      Keep going through the sections and you'll have them all in no time!
    </p>
  <% end %>
<% end %>
