<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="<%= container ? "container" : "container-fluid" %>">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", height: 60, alt: "LSAT Cracked Logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Testimonials", testimonials_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Coaching", new_coaching_request_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Learn", course_root_path, class: "btn btn-outline-primary mr-3" %>
        </li>
        <% if current_user.present? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Admin", chapters_path, class: "btn btn-outline-primary mr-3" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
