<% if current_page?(course_section_path(section_status.section)) %>
  <li class="active">
    <div class="d-flex justify-content-start align-items-center">
      <% if section_status.completed? %>
        <%= render "course/sections/marker", section_status: section_status  %>
      <% end %>
      <%= section_status.title %>
    </div>
  </li>
<% else %>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <% if section_status.completed? %>
        <%= render "course/sections/marker", section_status: section_status  %>
      <% end %>
      <% if policy(section_status.section).show? %>
        <%= link_to section_status.title, course_section_path(section_status.section) %>
      <% else %>
        <%= link_to section_status.title, course_section_path(section_status.section), data: { toggle: "modal", target: "#exampleModal" } %>
      <% end %>
    </div>
  </li>
<% end %>
