<div class="shadow-sm course-page">
  <h6><%= @section.chapter.title %></h6>
  <h1 class="mb-3"><%= @section.title %></h1>

  <% if @quiz_session.reportable? %>
    <% quiz_score = number_to_percentage(@quiz_session.correct_answers_ratio * 100, precision: 0) %>
    <p>You scored <%= quiz_score %> on this section's quiz.</p>
    <%= link_to "See Quiz Report", course_section_path(@section, anchor: "quiz"), class: "btn btn-primary mb-3" %>
  <% end %>

  <div class="course-content"><%= @section.content %></div>
</div>
<div class="d-flex justify-content-center my-5">
  <%= render "course/sections/nav_footer", section: @section %>
</div>

<% if @quiz_session.present? %>
  <% if @quiz_session.reportable? %>
    <div class="shadow-sm course-page" id="quiz">
      <%= render "course/quiz_sessions/report", quiz_session: @quiz_session %>
      <div class="d-flex justify-content-center mt-5">
        <%= render "course/sections/nav_footer", section: @section %>
      </div>
    </div>
  <% end %>

  <% unless @quiz_session.complete? %>
    <div class="shadow-sm course-page" id="quiz">
      <% if @quiz_session.ignored? %>
        <%= render "course/quiz_sessions/ignored", quiz_session: @quiz_session %>
      <% else %>
        <%= render "course/quiz_sessions/display", quiz_session: @quiz_session %>
      <% end %>
    </div>
  <% end %>
<% end %>
