<h1>New section for <%= @chapter.title %></h1>

<%= simple_form_for [@chapter, @section] do |f| %>
  <%= f.input :title %>

  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
