<%= render "banner" %>
<div id="differencial" class="bg-primary text-white py-5">
  <div class="container py-5">
    <h2 class="h1 mb-5 text-center font-weight-bold">The LSAT Cracked Difference</h2>
    <p>LSAT Cracked is the only LSAT course that directly identifies the exact skills you're currently missing that an LSAT writer cares about. Stop wasting time repeating the same mistakes, and start unlocking your future career.</p>
    <p>Mass-market LSAT courses operate on a standard business model: license 8,000 questions, overwhelm you with hundreds of hours of videos, and expect you to see the patterns for yourself. <strong>LSAT Cracked is different:</strong></p>
    <ol>
      <li class="bg-primary-dark p-3 mb-3"><strong>LSAT Cracked saves you time by identifying and teaching you the exact skills that LSAT writers care about.</strong> Once you master these skills, you will “see” LSAT problems differently, and your score will improve dramatically.</li>
      <li class="bg-primary-dark p-3 mb-3"><strong>The LSAT Cracked experience is modular and hyper-specific.</strong> No three-hour lectures that you'll never pay attention to. Instead, we target precise skill gaps with micro-lessons and explanations.</li>
      <li class="bg-primary-dark p-3 mb-3"><strong>LSAT Cracked meets you where you're at.</strong> Unlike mass-market courses that "teach to the middle", LSAT Cracked's curriculum is simultaneously more beginner-friendly (comprehensive coverage of logic fundamentals if you need it), while also providing the nuance and rigor required for students looking to score deep in the 99th percentile. </li>
    </ol>
    <p>
      The most common sentiment I hear from my students:
      <i>“I wish I heard about you before I wasted $2,000 on [mass-market course XYZ].”</i>
      The LSAT is the most important test of your life. Don’t trust it to a mass-market LSAT course. Let’s get started today.
    </p>
  </div>
</div>

<div id="results"><%= render "testimonials" %></div>

<div id="packages" class="bg-primary py-5">
  <div class="container py-5">
    <h2 class="text-center h1 mb-5 text-white font-weight-bold">Plans & Pricing</h2>
    <div class="card-deck mb-3 text-center">
      <%= render @products.highlight, highlight: false %>
    </div>
    <div class="card-deck mb-3 text-center">
      <%= render @products.not_highlight, highlight: false %>
    </div>
  </div>
</div>

<% if policy([:guest, @intro_quiz_session]).create? %>
  <div id="intro-quiz"><%= render "intro-quiz" %></div>
<% end %>

<% if current_user.guest? %>
<div id="sign-up"><%= render "sign-up" %></div>
<% end %>

<%= render "footer" %>
