
<div class="bg-primary py-4 mb-5 text-center">
  <h2 class="text-white">Testimonials</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/cattarina.jpg", width: 300, class: "img-fluid" %>
          <h2>Cattarina S.</h2>
        </div>
        <p>I began tutoring with Matt after having lost hope in my LSAT abilities. I had trouble finding a pattern in my mistakes and with English as my second language, I had particular difficulties in understanding the anatomy of a Logical Reasoning question. Matt’s approach completely shifted my mindset, giving me not only confidence but also the ability to successfully break down and complete the questions. After a diagnostic of 138, also having completed a live course with a popular LSAT prep company, it was with Matt’s instruction that I was able to score a 164 on the October 2019 LSAT (+26 points). I now have scholarship opportunities from multiple T-50 law schools. I wish I had started with Matt and his prep method before using other test prep methods. His personalized help and overall coaching method is unmatched.</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/nate.jpg", width: 300, class: "img-fluid" %>
          <h2>Nate B.</h2>
        </div>
        <p>“Simply the best. Matt is not only an LSAT test-taking master himself but he is also a master at teaching it to others. He knows why students make certain types of mistakes and how to correct them by showing you why each right answer is correct and why each wrong answer is wrong. He also provided me with invaluable advice and holistic coaching on attacking all aspects of the test. It’s this extra boost that took me from the mid-150’s (even after taking other mass-market courses) and propelled me into the high 160’s and got me full scholarship offers at elite schools. I felt Matt cared deeply about me throughout the process including applications, school selection, and scholarship negotiations.</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/taline.jpg", width: 300, class: "img-fluid" %>
          <h2>Taline G.</h2>
        </div>
        <p>Matt tutored me in preparation for the June 2014 LSAT.  Prior to meeting Matt, I had taken the test and immediately canceled my score because I felt that I had failed. After being tutored by Matt, I scored a 173. With his help, I was able to tackle logic games comfortably and saw a significant jump in my logical reasoning scores. As a result, I earned admission to a Top-20 law school with a significant merit scholarship.  If I could do it all over again, I would have skipped the overpriced and overgeneralized large test prep course and worked with Matt from the beginning.  He is a great resource for anyone who is ready and willing to work towards their goals.</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/sean.jpg", width: 300, class: "img-fluid" %>
          <h2>Sean K.</h2>
        </div>
        <p>“The LSAT Cracked process helped me understand my mistakes rather than be frustrated by them. I went from a 149 to a 172 on the May 2020 LSAT thanks to Matt’s help on my weakest section, logical reasoning. The tips and tricks Matt has shared with me have been applicable not only to this test, but also to the way I process information on a daily basis. Thanks Matt.”</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/ariana.jpg", width: 300, class: "img-fluid" %>
          <h2>Ariana K.</h2>
        </div>
        <p>“Matt is hands-down one of the best teachers I’ve ever had. He has this gift where he can sense exactly what I’m struggling with when I can’t put it into words myself. Furthermore, he quickly adapts his teaching style to your learning style and makes sure he gets the point across in a way that makes sense to you. Before Matt, I was using books that claimed to be short and sweet, but Matt was able to refine these strategies to make them much clearer and easier. Best of all, Matt is very well-rounded and lively; he makes the test seem like a fun game, which implicitly makes you want to work harder without even realizing it. Sometimes he’ll even drop some great life advice as well. If you have any doubts about your current study methods, save your time and go with Matt!”</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/justin.jpg", width: 300, class: "img-fluid" %>
          <h2>Justin M.</h2>
        </div>
        <p>“Matt is by far the best tutor I have ever had. He is incredibly skilled at conveying complicated issues and ideas in a very clean and clear way, and is able to quickly identify areas where a test-taker can make the biggest improvement with minimal effort. Even though I had already taken the most elite LSAT prep class in Southern California, Matt still helped me improve my score by 8 points on the second try. I absolutely would not have ended up at UC Irvine Law (with a $90,000 scholarship) without his invaluable tutoring.”</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/tamina.jpg", width: 300, class: "img-fluid" %>
          <h2>Tamina D.</h2>
        </div>
        <p>“Matt was an excellent instructor. He was able to teach both broad foundational skills as well as specific tips and tricks to dramatically improve my LSAT score. He also succeeded in making the LSAT seem like a fun challenge instead of an insurmountable obstacle to my admission to law school. I would not have been admitted to the University of Michigan Law School without his help!”</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/jaime.jpg", width: 300, class: "img-fluid" %>
          <h2>Jaime S.</h2>
        </div>
        <p>“Thank you Matt! Without Matt’s skillful and focused dedication to my LSAT test preparation including the application process, I would never have been accepted to a Top-60 law school with a partial scholarship. I had been out of college for about 15 years in the business world before deciding to attend law school and without Matt’s help to get those extra points I would not be an attorney today.”</p>
      </div>

      <div class="testimonial-card mb-5">
        <div class="text-center mb-3">
          <%= image_tag "testimonials/raivo.jpg", width: 300, class: "img-fluid" %>
          <h2>Raivo A.</h2>
        </div>
        <p>“Despite what I had read on the internet and learned from veteran LSAT-takers about the difficulty of the test, Matt made me feel confident from the start that I could take this test and do well with less than four months of preparation. Matt has a thorough understanding of the test and his extensive experience working with students is reflected in his ability to make even the more ‘abstract’ concepts on the test seem tangible. With me, he did not sound out every lesson in his book. Instead, he advised my study strategy, and helped me quickly identify and work through gaps in my ‘LSAT skillset’. I can honestly say, it would have required much more time to do this on my own or through a structured course. In short, Matt has been indispensable to my LSAT prep journey.”</p>
      </div>

    </div>
  </div>
</div>

