<li class="mb-5">
  <%= question.prompt %>
  <%= render "questions/tags", question: question %>
  <br>
  <small>
    (
    <%= link_to "Edit", edit_admin_question_path(question), class: "text-muted" %>
    |
    <%= link_to "Remove", admin_question_path(question), method: :delete, class: "text-danger" %>
    )
  </small>

  <ul>
    <% question.answers.each do |answer| %>
      <li>
        <%= answer.correct? ? "✅" : "🟥" %>
        <%= answer.content.to_plain_text %>
      </li>
    <% end %>
    <li><%= link_to "Add answer", new_admin_question_answer_path(question) %></li>
  </ul>
</li>
