<%= simple_form_for [:admin, product] do |f| %>
  <%= f.input :name %>
  <%= f.input :sku %>
  <%= f.input :price, label: "Price $" %>
  <%= f.input :full_price, label: "Full_price $" %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
