<% if policy([:course, :dashboard]).show? %>
  <li class="nav-item"><%= link_to "Learn", course_root_path, class: "nav-link" %></li>
<% end %>

<%# TODO: Update to avoid safe navigation %>
<% if policy([:admin, :dashboard]).show? %>
  <li class="nav-item"><%= link_to "Admin", admin_root_path, class: "nav-link" %></li>
<% end %>

<% if home_links.present? %>
  <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Testimonials", testimonials_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Coaching", new_coaching_request_path, class: "nav-link" %>  </li>
<% end %>

<% if current_user.present? %>
  <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
<% else %>
  <% if current_user.registerable? %>
    <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
  <% end %>
<% end %>
