<div id="collapse-<%= quiz_question.id %>"
  class="collapse <%= quiz_question.correct? ? "" : "show" %>"
  aria-labelledby="heading-<%= quiz_question.id %>">

  <div class="card-body">
    <% if quiz_question.correct? %>
      <h4>Good job!</h4>
    <% else %>
      <h4>Not quite right</h4>
    <% end %>
    <h5>You picked: <%= quiz_question.answer %></h5>
    <p><%= quiz_question.question.explanation %></p>
  </div>
</div>
