<div class="<%= quiz_question.correct? ? "border-success" : "border-danger" %> link border-top-0 border-bottom-0 border-right-0 card-header border d-flex justify-content-between align-items-center"
  id="heading-<%= quiz_question.id %>"
  data-toggle="collapse"
  data-target="#collapse-<%= quiz_question.id %>"
  aria-controls="collapse-<%= quiz_question.id %>">

  <div class="btn btn-light bg-transparent border-0">
    <% if quiz_question.correct? %>
      <span class="badge badge-success">Correct</span>
    <% else %>
      <span class="badge badge-danger">Wrong</span>
    <% end %>
    <%= quiz_question.question.prompt.to_plain_text.truncate(64) %>
  </div>

  <div>
    <%= render "questions/tags", question: quiz_question.question %>
  </div>
</div>
