<h2>Quiz</h2>
<hr>
<ol class="p-0">
  <%= simple_form_for [:course, quiz], html: { class: "quiz-answer" } do |f| %>
    <%= f.simple_fields_for :quiz_questions do |fqq| %>
      <li>
        <%= fqq.object.question.prompt %>
        <div class="list-group pt-4">
          <%= fqq.association :answer,
              collection: fqq.object.possible_answers,
              wrapper: :radio_list_group,
              as: :radio_buttons,
              label: false %>
        </div>
      </li>
      <hr class="mb-4">
    <% end %>
    <div class="text-right"><%= f.button :submit, "Finish quiz", class: "btn-primary btn-lg" %></div>
  <% end %>
</ol>
