<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= product.name %></h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">
      <%= humanized_money_with_symbol(product.price) %>
      <small class="text-muted">/ mo</small>
    </h1>
    <p>
      <strike><%= humanized_money_with_symbol(product.full_price) %></strike>
      <span class="badge badge-danger">
        save
        <%= humanized_money_with_symbol(product.savings) %>
      </span>
    </p>
    <%= product.description %>
  </div>
  <div class="card-footer">
    <%= form_tag orders_path do |f| %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= submit_tag "Buy now", class: "btn btn-lg btn-block btn-link" %>
    <% end %>
  </div>
</div>
