<ul class="unstyled">
  <li><%= link_to_unless_current "Course editor", [:admin, :chapters]  %></li>
  <li><%= link_to_unless_current "Users"        , [:admin, :users]     %></li>
  <li><%= link_to_unless_current "Articles"     , [:admin, :articles]  %></li>
  <li><%= link_to_unless_current "Questions"    , [:admin, :questions] %></li>
  <li><%= link_to_unless_current "Tags"         , [:admin, :tags] %></li>
</ul>
