<ul class="unstyled">
  <li><%= link_to_unless_current "Course content editor", [:manage, :chapters]  %></li>
  <li><%= link_to_unless_current "Users"                , [:manage, :users]     %></li>
  <li><%= link_to_unless_current "Articles"             , [:manage, :articles]  %></li>
  <li><%= link_to_unless_current "Questions"            , [:manage, :questions] %></li>
  <li><%= link_to_unless_current "Tags"                 , [:manage, :tags]      %></li>
  <li><%= link_to_unless_current "Products"             , [:manage, :products]  %></li>
</ul>
