<%= simple_form_for [:admin, chapter] do |f| %>
  <%= f.input :free %>
  <%= f.input :title %>
  <%= f.input :position %>
  <fieldset class="bg-light p-3 mb-3">
    <legend class="h6">Chapter positions overview:</legend>
    <ol>
      <% @chapters.each do |chapter| %>
        <li><%= chapter.title %></li>
      <% end %>
    </ol>
  </fieldset>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
