<div class="list-group-item style-none">
  <div class="d-flex justify-content-between">
    <h5><%= chapter.title %></h5>

    <div class="btn-group" role="group" aria-label="Chapter actions">
      <%= link_to "Edit", edit_admin_chapter_path(chapter), class: "btn btn-sm btn-secondary" %>
      <%= link_to "Delete", admin_chapter_path(chapter), method: :delete, 'data-confirm': "Are you sure?", class: "btn btn-sm btn-danger" %>
    </div>
  </div>
  <ul class="pl-4">
    <% chapter.sections.each do |section| %>
      <%= render "admin/sections/list_item", section: section %>
    <% end %>
    <li><%= link_to "Add section", new_admin_chapter_section_path(chapter), class: "btn btn-primary btn-sm" %></li>
  </ul>
</div>
