<!DOCTYPE html>
<html>
  <head>
    <title>LSAT Cracked: Learn Every Skill Needed for LSAT Mastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= navbar %>
    <%= render "shared/flashes" %>
    <%# TODO: Rename or use different classes, as course-layout is the proper name for this sidebar %>
    <div class="course-layout">
      <div class="course-sidebar">
        <h1>Admin panel</h1>
        <ul class="unstyled">
          <li><%= link_to_unless_current "Course editor", [:admin, :chapters] %></li>
        </ul>
      </div>
      <div class="course-container"><%= yield %></div>
    </div> 
  </body>
</html>
