<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LSAT Cracked: Learn Every Skill Needed for LSAT Mastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= navbar %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
