<!DOCTYPE html>
<html>
  <head>
    <title>LSAT Cracked: Learn Every Skill Needed for LSAT Mastery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= navbar %>
    <%= render "shared/flashes" %>
    <div class="course-layout">
      <div class="course-sidebar">
        <%= render "course/chapters/menu", chapters: @chapters %>
        <div class="course-sidebar-overlay"></div>
      </div>
      <div class="course-container"><%= yield %></div>
    </div>

    <%= render "course/modals/premium_upsell" %>
  </body>
</html>
